Library_Management/StudentLibrary/Connected Services/ServiceReference1/BookManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InsertBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualStock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookCost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublisherName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertBook" nillable="true" type="tns:InsertBook" />
  <xs:complexType name="UpdateBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualStock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookCost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pages" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublisherName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateBook" nillable="true" type="tns:UpdateBook" />
  <xs:complexType name="DeleteBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteBook" nillable="true" type="tns:DeleteBook" />
</xs:schema>